node_modules/
.eslintrc.js
.deploy/
client/definitions/
client/themes/
client/semantic.less
client/theme.import.less
client/.custom.semantic.json
client/theme.config.import.less
version.desktop
.desktop-installer
public/web-libjsqrl.wasm
