<template name="addressViewing">

<div class="ui left aligned segment" id="addressDetail">
  {{#with address}}
    {{#if error}}
      <h1>Address <i class="ui refresh red link icon"></i> <a class="ui big label"><i
              class="qrcode icon"></i>{{address.parameter}}</a></h1>
      <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Error reading address
        </div>
        <p>{{address.error}}</p>
      </div>
    {{else}}
      <div class="ui raised fluid card">
        <div class="content">
          <div class="header">
            <h1>Address <i class="ui refresh red link icon"></i> <a class="ui big yellow label"><i
                    class="qrcode icon"></i>{{address.state.address}}</a></h1>
          </div>
          <div class="description">
            <div class="ui hidden divider"></div>
            <div class="ui stackable grid">
              <div class="eight wide column">
                <div class="ui basic center aligned segment">
                  <div class="ui statistic">
                    <div class="label">
                      <div class="ui label">Balance</div>
                    </div>
                    <div class="value">
                      {{address.state.balance}}
                    </div>
                    <div class="label">
                      Quanta
                    </div>
                  </div>
                </div>
              </div>
              <div class="four wide column center aligned">
                {{> QRCode text=QRtext size="128px"}}
              </div>
            </div>
            <div class="ui celled horizontal list">
              <div class="item">
                <button class="ui mini blue button" id="ShowTx"><i class="down arrow icon"></i> Show
                  transactions
                </button>
                <button style="display:none" class="ui mini blue button" id="HideTx"><i
                        class="up arrow icon"></i> Hide transactions
                </button>
              </div>
              <div class="item"><strong>Transactions</strong> {{state.txcount}}</div>
              <div class="item"><strong>Nonce</strong> {{state.nonce}}</div>
            </div>
            <div style="display:none;" class="ui active centered inline loader"></div>
            <table style="display:none;" class="ui striped table">
              <thead>
              <th>Timestamp</th>
              <th>Amount</th>
              <th>From</th>
              <th>To</th>
              <th>Txhash</th>
              <th>Block</th>
              <th>Fee</th>
              <th>OTS key</th>
              </thead>
              <tbody>
              {{#each addressTransactions}}
                <tr>
                  <td>{{this.timestamp}}</td>
                  <td>{{this.amount}}</td>
                  <td><a target="_blank" href="{{nodeExplorerUrl}}/a/{{this.from}}">{{this.from}}</a></td>
                  <td><a target="_blank" href="{{nodeExplorerUrl}}/a/{{this.to}}">{{this.to}}</a></td>
                  <td><a target="_blank" href="{{nodeExplorerUrl}}/tx/{{this.txhash}}">{{this.txhash}}</a></td>
                  <td><a target="_blank" href="{{nodeExplorerUrl}}/block/{{this.block}}">{{this.block}}</a></td>
                  <td>{{this.fee}}</td>
                  <td>{{this.ots_key}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    {{/if}}
  {{/with}}
</div>

</template>