<template name="addressView">


<div class="ui center aligned segment">
  <h2 id="viewWallet" class="ui center aligned icon header">
  <i class="circular unlock icon"></i>
  View Wallet
  </h2>
  <div class="ui action input"  id="addressFields" style="width: 80%; margin-bottom: 20px;">
    <input type="text" id="walletCode" placeholder="">
    <select id="walletType" class="ui compact selection dropdown">
      <option value="mnemonic">Mnemonic Phrase</option>
      <option value="hexseed">Hexseed</option>
    </select>
    <div id="unlockButton" class="ui button">Unlock Wallet &raquo;</div>
  </div>
  <div id="unlocking" style="display: none;">
    <div class="ui active centered inline loader"></div>
    <p>Unlocking wallet...</p>
  </div>
  <div id="unlockError" style="display: none;">
    <div id="warning" class="ui red segment">
      <h4>Error</h4>
      <p>There was an error unlocking the wallet. Please refresh this page and try again.</p>
    </div>
  </div>
</div>

</template>