<template name="appBody">

  <div class="small ui container negative message" id="walletWarning">
    <i class="close icon"></i>
    <div class="header">
      Security Notice - Don't get Phished!
    </div>
    <p>
      <strong>Bookmark WALLET.THEQRL.ORG</strong> - The QRL Foundation only hosts services on THEQRL.ORG. No other domains are affiliated with The QRL Foundation.
    </p>
  </div>

  <div class="ui menu topmenu" id="menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="/img/Q@2x.png">
      </a>
      <a href="/create" class="item">Create Wallet</a>
      <a href="/open" class="item">Open Wallet</a>
      <a href="/transfer" class="item">Transfer Quanta</a>
      <a href="/verify" class="item">Verify Transaction</a>
      <a href="{{nodeExplorerUrl}}" class="item">Explorer</a>
    </div>
  </div>
  {{>sidebar}}
  <div class="ui fixed menu" id="m_menu">
    <div class="ui container" id="m_btn">
      <div class="icon item">
        <a id="hamburger"><i class="content icon"></i> Menu</a>
      </div>
    </div>
  </div>
  {{>customNode}}
  <div class="pusher mainpusher">
    <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="twelve wide column">
            <strong>CONNECTION STATUS</strong><br>
            <i class="icon {{connectionStatus.colour}} circle"></i> {{connectionStatus.string}} {{nodeName}}<br />
            <i class="icon {{walletStatus.colour}} circle"></i> {{walletStatus.string}}<br />
          </div>
          <div class="four wide column">
            <div class="ui selection dropdown floatright" id="networkDropdown">
              <input id="network" type="hidden" value="{{nodeId}}">
              <i class="dropdown icon"></i>
              <div class="text"></div>
              <div class="menu">
                {{#each defaultNodes}}
                <div class="{{this.disabled}} item" data-value="{{this.id}}">{{this.name}}</div>
                {{/each}}
                {{#if customNodeCreated}}
                <div class="item" data-value="custom">{{customNodeName}}</div>
                {{/if}}
                <div class="item" data-value="add">Add/Edit Custom Node</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui yellow segment">
        <h4>Notice</h4>
        <p>Please raise an issue on <a href="https://github.com/theQRL/qrl-wallet/issues" target="_blank">Github</a> for any problems you may come across while using the QRL Wallet.</p>
      </div>
      
      {{> Template.dynamic template=main}}
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <a href="/"><img width="91" src="/img/Q@2x.png"></a>
        <p></p>
        <div class="ui center aligned container">
          <div class="ui horizontal small divided link list">
            <a class="item" href="http://theqrl.org/">theQRL.org</a>
            <a class="item" href="http://qrlexplorer.info">QRL Explorer</a>
            <a class="item" href="https://github.com/theQRL">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>