<template name="customNode">
<div class="small ui modal" id="addNode">
  <div class="header">Add Custom QRL Node</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text" id="name" placeholder="Private Node">
      </div>
      <div class="field">
        <label>API URL</label>
        <input type="text" id="apiUrl" placeholder="http://www.private.network/api">
      </div>
      <div class="field">
        <label>Block Explorer URL</label>
        <input type="text" id="explorerUrl" placeholder="http://www.private.network/explorer">
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui approve green button">Add Node</div>
    <div class="ui cancel red button">Cancel</div>
  </div>
</div>
</template>