<template name="sidebar">
  <div class="ui sidebar vertical menu">
    <a class="item header" href="/"><img class="logo" src="/img/Q@2x.png" style="max-width: 50px; padding-bottom: 10px;"></a>
    <a href="/create" class="item">Create Wallet</a>
    <a href="/open" class="item">Open Wallet</a>
    <a href="/open" class="item" style="{{walletStatus.menuHidden}}">Open Wallet</a>
    <a href="/transfer" class="item">Transfer Quanta</a>
    <a href="/verify" class="item">Verify Transaction</a>
  </div>
</template>